html {
    height:100%;
    width:100%;
    display:block;
    position: fixed;
    overflow:auto;
}
body {
    height:auto;
    width: 100%;
    min-width: 1200px;
    text-align: center;
    display:block;
    position: fixed;
    overflow:auto;
}
.dialog text{
    font: 27px 'Open Sans', sans-serif;
    text-anchor: middle;
    stroke: darkgrey;
    stroke-width: 0px;
    opacity: 1.0;
    transform: translate(3100,300);
}
.visual {
    background-color: #FAFAFA;
}
.pairs {
    stroke: #6F90A2;
    stroke-width: 8px;
    mix-blend-mode: multiply;
}
.pairs text {
    display: none;
    font: 7px 'Open Sans', sans-serif;
    stroke: darkgrey;
    stroke-width: 0px;
    opacity: 1.0;
}
.pairs2 {
    stroke: #86C98A;
    stroke-width: 8px;
    mix-blend-mode: multiply;
}
.pairs2 text {
    display: none;
    font: 8px sans-serif;
    stroke: darkgrey;
    stroke-width: 0px;
    opacity: 1.0;
}
.links {
    stroke: #616161;
    stroke-width: 1px;
    mix-blend-mode: multiply;
}
.links2 {
    stroke: #616161;
    stroke-width: 1px;
    mix-blend-mode: multiply;
}
.node {
    fill: #ccc;
    stroke: #000;
    stroke-width: 1.5px;
    opacity: 0.2;
}

.node.fixed {
    fill: #f00;
}
.nodeID text{
    font: 7px 'Open Sans', sans-serif;
    stroke: darkgrey;
    stroke-width: 0px;
    opacity: 1.0;
}
.controls {
    display: block;
    position: relative;
    font: 7px sans-serif;
    height: 100%;
    background-color: #E0E0E0;
    height:700px;
    width:300px;
    float:left;
    /*margin-left:100px;*/
    /*padding-left: 10px;*/
}
.visual {
    display: block;
    margin: auto;
    /*border: 1px solid darkgrey;*/
    float:left
}
p.normal {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 14px;
}
div.content {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    /*border: 1px solid #616161;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow:auto;
}
div.contentHeader {
    font: 16px 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: #78909C;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left:5px;
}
div.showNodeNames {
    position: relative;
    color: #DDDDDD;
    font-weight: 200;
    font-size: 16px;
    height: 25px;
    width: 50px;
    display: inline-block;
    cursor: pointer;
}
div.showNodeNames p{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
div.hideNodeNames {
    position: relative;
    color: #86C98A;
    font-weight: 700;
    font-size: 16px;
    height: 25px;
    width: 50px;
    display: inline-block;
    cursor: pointer;
}
div.hideNodeNames p{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
div.card {
    display: block;
    background-color: #ffffff;
    margin-top: 10px;
    margin-right: 4px;
    margin-bottom: 10px;
    margin-left: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: auto;
}
div.cardTitle {
    font: 14px 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: left;
    background-color: #ffffff;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 8px;
    padding-left:16px;
    border-bottom: solid 1px;
    border-color: #e6e6e6;
}
div.pageTitle {
    font: 16px 'Open Sans', sans-serif;
    font-weight: 800;
}

div.visual {
    display:block;
    overflow: auto; 
}
div.cardLine {
    background-color: #ffffff;
    overflow: auto; 
}
div.cardLineHeader {
    background-color: #ffffff;
    width: 80px;
    font: 14px 'Open Sans', sans-serif;
    text-align: left;
    display: block;
    position: relative;
    float: left;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left:16px;
}
div.cardLineContent {
    font: 14px 'Open Sans', sans-serif;
    text-align: center;
    height: 19px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left:5px;
}
div.cardLineButtons {
    font: 14px 'Open Sans', sans-serif;
    text-align: center;
    height: 19px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left:5px;
}
div.toggleButton {
    width: 75px;
    font: 14px 'Open Sans', sans-serif;
    font-weight: 700;
    display: block;
    position: relative;
    float: right;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left:5px;
    cursor: pointer;
}


.custom-file-upload {
    float: right;
    width: 78px;
    background-color: #78909C;
    border: none;
    color: white;
    padding: 5px 5px;
    font: 14px 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="file"],input[type=submit] {
    display: none;
}